*.db
*.filters
*.vcxproj
*.sdf
*.sln
*.user
*.exe
*.enc
*.obj
*.ilk
*.pdb
*.log
*.toc
*.idb
*.tlog
*.lastbuildstate
*.config
*.plt
*.dat
.json
*.pyc
*.csv
*.stl
out
*.json
*.txt
*.asc
*.vtk
*.mat
*.msh
*.opcast
*.geo
profiling.txt
comp_exec_UQ.sh
*.aux
*.bbl
*.blg
*.out
*.gz
*.bak
*.o
*.m~
*.bin
*.ipch
*.subdomain
*.00000
*.ptsconn
.sync.ffs_db